* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.app {
  .container {
    width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .header {
    height: 80px;
    background-color: #20a0ff;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 80px;
    position: relative;
  }
}